body {
  width: 1444px;
  height: 1137px;
  margin: 0;
  padding: 0;
}

.red-rectangle {
  background-color: rgb(198, 0, 0);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.link-font {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  line-height: 80px;
  margin: 0;
  padding: 0;
  padding-right: 1%;
  float: right;
  text-decoration: underline;
}

.link-font-no-bold {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: right;
  line-height: 60px;
  margin: 0;
  padding: 0;
  padding-right: 1%;
  float: right;
  text-decoration: underline;
}

.top-font {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  line-height: 80px;
  margin: 0;
  padding: 0;
  padding-left: 1%;
  float: left;
}

.grey-rectangle {
  background-color: rgb(67, 65, 65);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 0;
}

.fotter-grey-rectangle {
  background-color: rgb(67, 65, 65);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 0;
}

.image-container img {
  position: relative;
  width: 275px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}

.footer-container {
  position: relative;
  width: 80%;
  height: 55%;
  left: 10%;
  margin: 0 auto;
}

.image-title {
  position: relative;
  top: 100px;
  right: 0;
  width: 100%;
  text-align: right;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  z-index: 2;
}

.text-container {
  width: 1000px;
  height: 200px;
}

